@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
    body{
        background-color:whitesmoke;
        background-image: url(assets/bg-wave.svg);
        background-position-y:65px ;
        background-repeat: no-repeat;
        background-size: cover;
        }
    
    main{
        padding-bottom: 5%;
    }
    /*----------------------------------DI BAWAH INI UNTUK TAMPILAN SMARTPHONE------------------------------------------ */
    .header{
        margin: 0 0 0 0;
        padding:5% 0 5% 3%;
        border-bottom: 1px solid #212121;
        background-color: #212121;
        display: flex;
        flex-direction: row;
        
    }
    .header .logo{
       border-bottom: 1px solid #212121;
       width: 28%;
       text-align: center;
       color: whitesmoke;
    }
    .header .logos{
        flex-basis: 75%;
        
    }
    .about{
        display: block;
        margin: auto;
        transition: 0.3s;
       
    }
    .about:hover{
        transform: scale(1.2);
    }
    .about h3{
        color: white;
        font-size: 200%;
    }
    .about span{
        font-size: 0;
    }
    .input{
        text-align: center;
        margin-top: 3%;
    }
    #input-search{
        margin-top: 10px;
        text-align: center;
        padding: 3% 4%;
        width: 90%;
        border-radius: 20px;
        box-shadow: 5px 8px 0px black;
        font-size: 140%;
        opacity: 0.6;
        transition: 0.5s;
    }
    #input-search:focus{
        outline: none;
        opacity: 1;
        border: 1px solid black;
    }
    .inp-btn{margin-top: 5%;}
    .input-button{
        margin-top: 20px;
        padding:1% 10%;
        font-size: 120%;
        border-radius: 20px;
        cursor:pointer;
        background-color: #212121;
        border: 1px solid black;
        box-shadow: 1px 8px 0 black;
        color: whitesmoke;
        top: 0;
    }
    .input-button:active{
        position: relative;
        top: 7;
        box-shadow: none;
    }

    .input-button-delete{
        margin-top: 20px;
        padding:1% 10%;
        font-size: 120%;
        border-radius: 20px;
        cursor:pointer;
        background-color: red;
        border: 1px solid rgb(61, 2, 2);
        box-shadow: 1px 8px 0 rgb(61, 2, 2);
        color: whitesmoke;
        top: 0;
    }
    .input-button-delete:active{
        position: relative;
        top: 7;
        box-shadow: none;
    }


    .line{
        border-bottom: 1px solid grey;
        width:90%;
        margin: auto;
        margin-top: 12%;
    }
    
    .labels h2{
       text-align: center;
       margin-top: 4%;
       font-size:110%;
       color:#212121;
       
      
    }


    .list-film{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin: 5% 0 0% 0;
        color: whitesmoke;
        
        
    }

    .list-film .cards{
        margin: auto;
        background-color: #212121;
        border:5px solid black;
        box-shadow:  6px 6px 0 black;
        border-radius: 8px;
        width:70%;
        padding:5%;
        margin-bottom: 30px;
    }
    .list-film .cards .inner img{
        width:100%;
        height: 220px;}
    
    .list-film .cards .inner h3{
        border-top: 1px solid whitesmoke;
        margin-top: 5%;
    }

    .btnDetails{
        padding: 1% 20% 1% 20%;
        border: none;
        border-radius: 10px;
        background-color: #ffffff;
        border: 1px solid black;
        box-shadow: 2px 5px 0 black;
        font-weight: bold;
        margin-bottom: 3%;
    }
    .btnDetails:active{
        position: relative;
        top: 7;
        box-shadow: none;
    }
    
    .modal-body .no-list-1{
        list-style:none ;
        text-align: center;
        border-bottom: 1px solid black;
        margin-bottom: 5%;
    }
    .modal-body .no-list-2{list-style:none ;}
    .modal-body{
        list-style: none;
        background-color: lightgray;
        color: black;
        
    }
    .modal-body img{
        width: 70%;
        margin-bottom: 6%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    .modal-footer{
        background-color: #212121;
        text-align: center;
        color: #ffffff;}
        
        .modal-footer .container-fluid{
            display: flex;
            flex-direction: column;
        }
        
        .modal-footer button{
            margin-top: 2%;
            background-color: #ffffff;
            color:#212121 ;
            transition: 0.5s;
            width: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
       .modalNotFound{
            border: 1px solid 212121;
            margin: auto;
            margin-top: 5%;
            background-color: transparent;
            color:white;
            width: 100%;
            padding: 0% 0%;
        }

       .modalNotFound .imgNotFound{
           width: 56%;
           margin-top: 5%;
        margin-bottom: 2%;
       }
       .modalNotFound .teksNotFound{
            font-weight: bold;
            font-size: 150%;
       }
/*---------------------------------------------------------------------------------------------------------------------- */





/*----------------------------------DI BAWAH INI UNTUK TAMPILAN DESKTOP------------------------------------------------ */
    @media(min-width:920px){
    .header {
        padding:2% 0 2% 3%;
        border-bottom: none;
        background-color:#ffffff;
        flex-direction: row;
    }
     .header .logos{flex-basis: 76%;}
     .about{width: 6%;text-align: center;}
     .about h3{
         color: #212121;
         font-size: 250%;
     }
     .about span{
         font-size: 34%;
        
     }
    .input{ margin-top: 1%;}
    .inp-btn{margin-top:1.5%;}
    .input-button{
        margin-top: 25px;
        padding:0.5% 5%;
        margin-right: 5%;
    }
    .input-button-delete{
        margin-top: 25px;
        padding:0.5% 5%;
    }
    
    .header .logo{
       border: 3px solid black;
       box-shadow:4px 4px 0 black;
       width: 13%;
       border-radius: 10px;
       font-size: 170%;
       background-color:#212121 ;
       color: whitesmoke;
       
        
    }
    #input-search{
        margin-top: 20px;
        width: 60%;
        font-size: 150%;
        padding: 1% 2%;
    }
    .line{
        margin-top: 4%;
        width:75%;
    }
    
    .labels h2{
        font-size:150%;
        margin-top: 2%;
       
     }
    
     .list-film {
        margin-top:15px
    }
    
    .list-film .cards{
        padding:1%;
        width:30%;
        
        
    }

    .list-film .cards:nth-child(10){
        margin: 0 0 0 20px;
    }

    .list-film .cards .inner img{
        width: 200px;
        height: 300px;
        
    }
    .modal-body img{width: 100%;}
    
    .modal-footer .container-fluid{
        flex-direction: row;
     
        
    }
    .modal-footer .container-fluid button{
        width: 20%;
        margin: -1% 0 0 35%;
       
    }
    .modalNotFound{
        border: 1px solid 212121;
        margin: auto;
        margin-top:3%;
        background-color: #212121;
        color:white;
        width: 100%;
        padding: 0% 0%;
    }
    .modalNotFound .imgNotFound{
        width: 56%;
        margin-top: 5%;
         margin-bottom: 2%;
         
    }
    .modalNotFound .teksNotFound{
         font-weight: bold;
         font-size: 250%;
    }
    

   
}

/*------------------------------------------------------------------------------------------------------------------- */